@charset "utf-8";
/*
ベース
*/
body {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label,
input,
textarea,
select,
button {
  cursor: pointer;
}

/* ヘッダーの固定 */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* 道場旗を一番上に表示 */
.headerimage {
  padding-top: 50px;
}
.headerimage img {
  width: 100%; /* 画像の幅を100%にする（親要素に合わせる） */
  height: auto; /* アスペクト比を保つために自動調整 */
}

/* ハンバーガーメニュー */
.header-hamburger {
  width: 60px;
  height: 100%;
  float: right;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}
.hamburger {
  /*buttonタグデフォルトスタイルを打ち消し*/
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
}
/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: relative;
  /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
  transition: ease 0.4s;
  display: block;
  text-align: right;
}
/* ハンバーガーメニューの幅を調節 */
.hamburger span:nth-child(1) {
  top: 0;
}
.hamburger span:nth-child(2) {
  margin: 8px 0;
}
.hamburger span:nth-child(3) {
  top: 0;
}
/* ハンバーガーメニュークリック後のスタイル 
   ３本線を✘表示にする*/
.header-nav.active {
  transform: translateX(0);
}
.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}
/* ヘッダーのナビ部分 */
.header-nav {
  display: block;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  /*ハンバーガーメニュークリック時のナビゲーションメニュー背景色*/
  background-color: #365676;
  /*ハンバーガーメニュークリック時のナビゲーションメニュー出現を遅延*/
  transition: ease 0.4s;
}
/* ハンバーガーメニュークリック後のスタイル */
.nav-items {
  padding-top: 50px;
}
/* ナビのリンク */
.nav-items-item a {
  color: #fff;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.nav-items-item:last-child a {
  margin-bottom: 0;
}
/* ヘッダーの道場名 */
.nav-header-honma {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #0c2c4d;
  color: #fff;
  display: block;
}
.no-scroll {
  overflow: hidden;
}
/* header */
.header-link {
  background-color: #0c2c4d;
  text-align: center;
  padding: 10px;
  font-size: large;
}
header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header-link a {
  color: #fff;
}
.header-link ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-link li {
  display: inline;
  margin-right: 20px;
}
.header-honma {
  margin: 0 auto;
  padding: 10px 0px 10px 100px;
  overflow: hidden;
  display: flex;
  background-color: #fff;
}
.honma-Logo img {
  height: auto; /* アスペクト比を保つために自動調整 */
  width: 100%;
}
.header-left {
  width: 50%;
  margin-top: 25px;
}
.header-right {
  width: 50%;
}
.red-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.blue-text {
  color: #365676;
  font-size: 20px;
  font-weight: bold;
}
.bule-small-text {
  color: #365676;
  font-size: 15px;
}
.bold-text {
  font-weight: bold;
  font-size: 15px;
}
.small-text {
  font-size: 12px;
}

/* home */
.home {
  padding: 20px 40px;
  background-color: #365676;
  color: #fff;
}
.homeheader {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.homebody {
  display: flex;
}
.homeguide {
  text-align: left;
  font-size: 20px;
  width: 70%;
  height: auto;
  background-color: #fff;
  color: #000;
}
.homeguide ul {
  width: fit-content;
  margin: auto;
}
.homeguide li {
  padding-top: 20px;
}
.homeimg {
  width: 30%;
}
.homeimg img {
  height: auto; /* アスペクト比を保つために自動調整 */
  width: 100%;
}
/* 日程・行事 */
.calendar {
  padding: 0 0 40px 0;
  text-align: center;
}
.calendar table {
  width: 600px;
}
.calendar-header {
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
  padding-top: 40px;
}
.calendar th {
  font-size: 20px;
  background-color: #ddffff;
}
.google-cal iframe {
  width: 1000px;
  height: 500px;
}
.calendar-sub {
  font-size: 20px;
  width: fit-content;
  margin: auto;
  text-align: left;
}
/* 
access
*/
.access {
  background-color: #365676;
  color: #fff;
  padding-top: 20px;
}
.access-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.access-map {
  margin: 0;
  padding: 20px 15px 40px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.access-map > iframe {
  width: 65%;
}
.access-mapinfo {
  width: 35%;
  padding: 15px;
}
.access-maplogo {
  font-size: 25px;
  font-weight: bold;
}
.access-line {
  border-color: #444;
}
.access-copy {
  display: block;
  text-align: center;
}
/* お問い合わせ */
.inquiry {
  background-color: #eeeeee;
  color: #000;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.inquiry-title {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 20px;
}
.inquiry-body {
  font-size: 20px;
  margin: auto;
  text-align: left;
}
.inquiry-body ul {
  width: fit-content;
  margin: auto;
}
/* ボタン */
a.form-button {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  width: 250px;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #27acd9;
  color: #27acd9;
  border-radius: 100vh;
  transition: 0.5s;
}
a.form-button:hover {
  color: #fff;
  background: #27acd9;
}

.access a {
  text-decoration: none;
  color: white;
}
a:hover {
  border-bottom: 2px solid white;
}

p {
  margin: 0;
}
table {
  border-collapse: collapse;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  font-family: "Noto Serif JP", serif;
}

.animation-container {
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
}

#actual-content {
  text-align: center;
  font-size: 18px;
  display: none;
}
@media screen and (max-width: 1400px) {
  .homeguide {
    font-size: 18px;
  }
  .homeguide li {
    padding-top: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .homeguide {
    font-size: 15px;
  }
  .homeguide li {
    padding-top: 8px;
  }
}

@media screen and (max-width: 768px) {
  /* header */
  .header-link {
    background-color: #0c2c4d;
    text-align: center;
    padding: 10px;
    font-size: large;
    display: none;
  }
  header.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 0;
  }
  .header-link a {
    color: #fff;
  }
  .header-link ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .header-link li {
    display: block;
    margin-right: 20px;
  }
  .header-honma {
    max-width: auto;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    display: block;
    text-align: center;
  }
  .header-left {
    width: 100%;
    margin-top: 0px;
    padding: 0px 20px;
  }
  .header-right {
    width: 100%;
    padding: 0;
  }
  .red-text {
    color: red;
    font-size: 22px;
    font-weight: bold;
  }
  .blue-text {
    color: #365676;
    font-size: 18px;
    font-weight: bold;
  }
  .bule-small-text {
    color: #365676;
    font-size: 15px;
  }
  .bold-text {
    font-weight: bold;
    font-size: 15px;
  }
  .small-text {
    font-size: 13px;
  }
  /* ハンバーガーメニュー */

  /* home */
  .home {
    padding: 10px;
    background-color: #365676;
    color: #fff;
  }
  .homeheader {
    font-size: 25px;
  }
  .homebody {
    display: block;
  }
  .homeguide {
    width: 100%;
    font-size: 15px;
  }
  .homeguide ul {
    width: fit-content;
    margin: 0 10px 0 0;
  }
  .homeguide li {
    padding-top: 10px;
  }
  .homeimg {
    width: 100%;
  }
  .calendar table {
    width: fit-content;
  }
  .calendar-sub {
    font-size: 15px;
  }
  .calendar-sub p {
    font-size: 13px;
    margin: 0 0 0 20px;
  }
  .google-cal iframe {
    height: 400px;
    width: 100%;
  }
  .access-map {
    margin: 0;
    padding: 15px;
    display: block;
    align-items: center;
    justify-content: center;
  }
  .access-map > iframe {
    width: 100%;
    height: 200px;
  }
  .access-mapinfo {
    width: 100%;
  }
  .access-mapaddress {
    font-size: 17px;
  }
  .inquiry-body {
    font-size: 15px;
  }
}
